/* Font Area */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style Area */
* {
    margin: 0px;
    padding: 0px;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}
.max-width-2 {
    max-width: 1200px;
    margin: 0 auto;
}
.primary-btn {
    border: none;
    background-color: #E02C6D;
    color: white;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 24px;
    border-radius: 41px;
    cursor: pointer;
    margin-top: 16px;
}
.primary-btn img {
    width: 24px;
    height: 24px;
}
.primary-btn:hover{
    background-color: darkorchid;
}
/* Colors */
.gray-3a {
    color: #3A3A3A;
}

/* Main Style Area */

/* ___Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px;
}
.nav-heading {
    font-size: 1.5rem;
    font-weight: bold;
}
.menu-list {
    list-style: none;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 34px;
    align-items: center;
    justify-content: center;
}
.menu-list a {
    text-decoration: none;
    color: #3A3A3A;
    text-align: center;

}
.menu-list a img {
    height: 24px;
    width: 24px;
}

/* __Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 50px;
}
.banner-heading {
    font-size: 3.25rem;
    font-weight: bold;
    line-height: 70px;
}
.banner-paragraph {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
    max-width: 505px;
}
.banner-img {
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}
.banner-img img{
    width: 100%;
}

/* Media Query Area */
@media screen and (max-width: 767px) {
    #navbar {
        flex-direction: column;
        padding: 16px 20px;
        gap: 20px;
    }
    #navbar .menu-list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #banner {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px 20px;
        
    }
    .banner-heading {
        font-size: 1.75rem;
        text-align: center;
        line-height: 40px;
        
    }
    .banner-content {
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .banner-content button {
        margin-top: 20px;
    }
   
    
}